body {
  height: 100vh;
  display: flex;
  background: linear-gradient(135deg, rgba(18, 18, 18, 0.09) 0%, rgba(18, 18, 18, 0.09) 67%, rgba(202, 202, 202, 0.09) 67%, rgba(202, 202, 202, 0.09) 100%), linear-gradient(135deg, rgba(207, 207, 207, 0.17) 0%, rgba(207, 207, 207, 0.17) 30%, rgba(164, 164, 164, 0.17) 30%, rgba(164, 164, 164, 0.17) 100%), linear-gradient(45deg, rgb(54, 31, 124) 0%, rgb(54, 31, 124) 12.5%, rgb(55, 59, 128) 12.5%, rgb(55, 59, 128) 25%, rgb(56, 88, 132) 25%, rgb(56, 88, 132) 37.5%, rgb(57, 116, 136) 37.5%, rgb(57, 116, 136) 50%, rgb(57, 145, 141) 50%, rgb(57, 145, 141) 62.5%, rgb(58, 173, 145) 62.5%, rgb(58, 173, 145) 75%, rgb(59, 202, 149) 75%, rgb(59, 202, 149) 87.5%, rgb(60, 230, 153) 87.5%, rgb(60, 230, 153) 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Comfortaa', cursive;
  color: rgb(195, 195, 195);
  font-size: 4rem;
  line-height: 0px;
}
.scoreboard{
  width: 30vw;
  color: rgb(228, 228, 228);
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .p1, .p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 2.5rem;
      line-height: 0px;
    }
  }
  
}
.board-wrapper {
  .board {
    background-color: rgb(0, 170, 147);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh;

    .tile {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: rgb(29, 29, 29);
      height: 25vh;
      width: 15vw;
      color: rgb(228, 228, 228);
      border: solid rgb(0, 170, 147) 3px;
      font-size: 6rem;
      font-family: 'Comfortaa', cursive;
    }
  }
}